@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'fonteTitulo';
    src: url('../fonte/anime_ace_bb/animeace2bb_ot/animeace2_bld.otf') format(opentype);
}

:root{
    --cor0: #5C67FF;
    --cor1: #478EFF;
    --cor2: #47C8FF;
    --cor3: #47FFBE;
    --cor4: #47FFFC;

    --fontConteudo: "Open Sans", sans-serif;
}

